{% extends 'awards/base.html' %}
{% block content %}
<div id="project">
    <a href="{%url 'new-project'%}"><i class="fas fa-plus-circle"></i>Post</a>
</div>
    <div class="container-fluid">
        <div class="row">
            {% for project in projects %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div>
                            <a href="{% url 'profile' %}"> <img class="rounded-circle "  src="{{ user.profile.image.url }}" 
                                style="border-radius: 50%; width:25px; height:25px;" ><h4>Project Owner:</h4> {{ project.author }}</a>
                            <hr>
                            <a href="{% url 'single_project' project.id %}"><img class="card-img-top" src= "{{ project.project_image.url }}" alt="image"></a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{ project.project_name}}</h5>
                          <p class="card-text">{{ project.project_description}}</p>
                          <a href="{{project.project_live_link}}" class="text-warning card-link" target="_blank">Porject Live Link</a>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'single_project' project.id  %}" class="text-warning card-link"><i class="far fa-chart-bar"></i>Rate</a>
                            {% for review in project.ratings.all %}
                                {% if forloop.counter is project.ratings.all.count %}
                                    <div id="score">{{ review.score}}<br>
                                        <span class="rates text-muted">Overal-Score</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}