
.top{
    margin-top:0 ;
    padding-top: 20px;


    background-image: url("https://bit.ly/2AEwbRD");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:700px;
    /* background-position:center center ; */
    
}
.top h1,p{
    color: honeydew;
    padding-left: 40px;
}
#project{
    margin-top: 50px;
    margin-left: 80px;
}
.account-image{
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
.card-img-top{
    height: 250px;
    width: auto;
}